* {
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Rubik', sans-serif;
}

.header__ul {
    text-align: right;
    margin-right: 50px;
}

.header__li {
    display: inline-block;
    padding-right: 10px;
    margin: 20px 15px 15px 15px;
}

.header__li a {
    text-decoration: none;
    color: black;
}

main{
    margin-top: 200px;
    text-align: center;
}
main .main-logo{
    margin: 0 auto;
    margin-bottom: 15px;
}
main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 17px;
}
.main-input-container:hover{
    box-shadow: 0px 1px 5px rgb(53, 51, 51);
    
}
main .main-input .search-icon{    
    background-image: url('https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_960_720.png');
    background-repeat: no-repeat;    
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    
}
footer{
    display: grid;
    width: 100%;
    bottom: 0%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
footer ul{
    list-style: none;
    display: flex;
}
footer .footer__ul_left {
    justify-self: left;
    margin-left: 30px;
}

.footer__li_left {
    display: inline-block;
    padding-left: 10px;
    margin: 15px 15px 20px 15px;
}
footer .footer__ul_right {
    justify-content: right;
    
    margin-right: 50px;
}

.footer__li_right {    
    display: inline-block;
    padding-right: 10px;
    margin: 10px 10px 15px 10px;
}

.footer a{
    text-decoration: none;
    color: black;
}